.text-button {
    padding-inline: 2rem;
    padding-block: 0.8rem;
    border-radius: 0.5rem;
}

.text-button.primary {
    color: #FFFFFF;
    background-color: #60A97A;
}

.text-button.secondary {
    background-color: #FFFFFF;
    border-color: #60A97A;
    color: #60A97A;
}

.text-button.thrid {
    background-color: #FFFFFF;
    color: #60A97A;
    border: 1px solid #60A97A;
    max-width: 150px;
}