.proyects {
    display: flex;
    flex-direction: column;
    background-color: #60A97A;
    width: 100vw;
    padding: 2rem 0;
}

.header-proyects {
    color: #FFFFFF;
}

.container-proyects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem
}

.container-button {
    display: flex;
    justify-content: center;
}

.content-card-tech-code {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #60A97A;
    margin: 1rem;
}

.container-tech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}