.section-contact {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-links-contacts {
    display: flex;
    gap: 2rem;
}

@media (max-width:414px) {
    .container-links-contacts {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}